<div class="card">
  <div class="card-body">
    <h4 class="card-title">Conócenos<i class="fa fa-address-card-o" aria-hidden="true"></i></h4>
    <h6 class="card-subtitle mb-2 text-muted">Información de contacto</h6>
    <p class="card-text"><i class="fa fa-envelope-o" aria-hidden="true"></i>Correo: {{contacto.correo}}</p>
    <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i>Teléfono: {{contacto.telefono}} - Fax: {{contacto.fax}}</p>
    <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i>Dirección: {{contacto.direccion}}, {{contacto.ciudad}}, {{contacto.estado}}</p>
    <p class="card-text img-fluid" id="mapa"></p>
  </div>
</div>